/*Created with Adobe RoboHelp 2019.*/
/* -------------------------------------------------------- BODY */
@font-face {
  font-family: 'open_sansbold';
  src: url('../fonts/opensans-bold-webfont.woff2') format('woff2'), url('../fonts/opensans-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open_sansbold_italic';
  src: url('../fonts/opensans-bolditalic-webfont.woff2') format('woff2'), url('../fonts/opensans-bolditalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open_sansextrabold';
  src: url('../fonts/opensans-extrabold-webfont.woff2') format('woff2'), url('../fonts/opensans-extrabold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open_sansextrabold_italic';
  src: url('../fonts/opensans-extrabolditalic-webfont.woff2') format('woff2'), url('../fonts/opensans-extrabolditalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open_sansitalic';
  src: url('../fonts/opensans-italic-webfont.woff2') format('woff2'), url('../fonts/opensans-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open_sanslight';
  src: url('../fonts/opensans-light-webfont.woff2') format('woff2'), url('../fonts/opensans-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open_sanslight_italic';
  src: url('../fonts/opensans-lightitalic-webfont.woff2') format('woff2'), url('../fonts/opensans-lightitalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal
}
@font-face {
  font-family: 'open_sansregular';
  src: url('../fonts/opensans-regular-webfont.woff2') format('woff2'), url('../fonts/opensans-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open_sanssemibold';
  src: url('../fonts/opensans-semibold-webfont.woff2') format('woff2'), url('../fonts/opensans-semibold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open_sanssemibold_italic';
  src: url('opensans-semibolditalic-webfont.woff2') format('woff2'), url('opensans-semibolditalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: 'open_sansregular';
  background: #282828;
  color: #cfcfcf;
  font-size: 18px;
  margin: 8px 0 0 0;
  line-height: 1.5;
}
/* -------------------------------------------------------- HEADERS */
h1 {
  font-size: 20pt;
  font-family: 'open_sansbold';
  background-image: url('CSS_Images/Header_Bar_Front.png'), url('CSS_Images/Header_Bar_Back.gif');
  margin: 0 0 0.5em 0;
  padding: 0 0 0 0.5em;
  line-height: 40px;
  background-position: left, left;
  background-repeat: no-repeat, repeat;
  border-radius: 0.5em 0.5em 0 0;
  color: #FFFFFF;
}
h2 {
  font-family: 'open_sansbold';
  font-size: 18pt;
  padding-left: 20px;
  margin-bottom: 10px;
  text-decoration: underline;
}
h3 {
  font-weight: bold;
  font-size: 14.0pt;
}
h4 {
  font-weight: bold;
  font-size: 12.0pt;
  background: #181818;
  color: #cfcfcf;
  margin-left: 45px;
  margin-right: 10px;
  text-justify: none;
  text-align: left;
  padding-top: 5px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-left: 10px;
  margin-top: 10px;
  margin-bottom: -20px;
  border-width: 5px;
  border-style: solid;
  border-color: #282828;
  width: auto;
  display: inline-block;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}
h5 {
  color: #181818;
  text-align: center;
  font-size: 0.75em;
  font-weight: bold;
  background: #039e5c;
  border-radius: 0 0 1em 1em;
  padding-top: 0.5em;
  padding-right: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 0.5em;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}
h6 {
  font-weight: bold;
  font-size: 8.0pt;
}
/* -------------------------------------------------------- PARAGRAPHS */
p,
ul,
ol {
  margin: 0;
  padding: 0.5em 1em;
  background: #282828;
  text-align: justify;
  text-justify: inter-word;
  font-family: 'open_sansregular';
  line-height: 1.5;
}
p.dropspot {
  margin: 0;
  background: #282828;
  text-align: justify;
  text-justify: inter-word;
  padding-top: 0.5em;
  padding-right: 1em;
  padding-bottom: 0.5em;
  padding-left: 3em;
}
p.code {
  font-family: menlo, consolas, monospace;
  background: #181818;
  color: #cfcfcf;
  margin-left: 50px;
  margin-right: 50px;
  text-justify: none;
  text-align: left;
  border-radius: 10px;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  margin-top: 1px;
  margin-bottom: 15px;
  font-size: 14px;
  line-height: 1.25;
}
p.note {
  font-style: italic;
  margin-left: 55px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 16px;
  margin-right: 55px;
}
span.inline {
  font-family: menlo, consolas, monospace;
  font-weight: bold;
  font-size: 17px;
}
tt {
  font-family: menlo, consolas, monospace;
  font-weight: bold;
  font-size: 17px;
}
/* -------------------------------------------------------- LINKS */
a {
  text-decoration: none;
}
a:link,
a:visited {
  font-weight: bold;
  color: #04de80;
}
a.nocolour:link,
a.nocolour:visited {
  font-weight: bold;
}
a:hover,
a:active {
  color: #ffffff;
}
a.expandspot {
  color: #79D779;
  cursor: pointer;
  text-decoration: underline;
  font-size: 22px;
  font-weight: bold;
  line-height: 1.5;
  margin-left: 20px;
}
span.expandtext {
  font-style: italic;
  font-weight: normal;
  text-align: justify;
  margin-left: 20px;
  line-height: 1.5;
}
span.dropspotnote {
  font-style: italic;
  font-weight: normal;
  text-align: justify;
  margin-left: 20px;
  line-height: 1.5;
  font-size: 17px;
}
a.dropspot {
  cursor: pointer;
  color: #79D779;
  font-family: 'open_sanssemibold';
  text-decoration: underline;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 22px;
  margin-left: 20px;
}
a.glossterm {
  cursor: pointer;
  text-decoration: underline;
  font-weight: bold;
  color: #E28F4B;
}
a.tooltip {
  cursor: pointer;
  text-decoration: underline;
  font-weight: bold;
  color: #E28F4B;
}
span.glosstext {
  font-style: italic;
  font-weight: normal;
  color: #0000ff;
}
span.glossextra {
  cursor: pointer;
  text-decoration: underline;
  font-weight: bold;
  color: #E28F4B;
  font-style: italic;
}
/* -------------------------------------------------------- LISTS */
ul {
  margin-top: -12px;
  margin-bottom: 10px;
  padding-left: 80px;
}
ol {
  margin-top: -12px;
  margin-bottom: 10px;
  padding-left: 80px;
}
ul li {
  margin-top: 20px;
  margin-bottom: -5px
}
ol li {
  margin-top: 20px;
  margin-bottom: -5px;
  counter-increment: list;
  list-style-type: none;
  position: relative;
}
ol li::before {
  color: #04de80;
  content: counter(list) ".";
  left: -32px;
  position: absolute;
  text-align: right;
  width: 26px;
}
ul.colour {
  list-style: none;
}
ul.colour li {
  margin-top: 22px;
}
ul.colour li li {
  list-style: none;
}
ul.colour li::before {
  content: "\2022";
  color: #04de80;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
  height: 1.5em;
}
ul.dropspotlist {
  list-style: none;
  padding-left: var(--prefix-size);
  margin-left: calc(var(--list-indent) - var(--prefix-size));
  --prefix-size: 40px;
  --prefix-fixed-size: false;
  --prefix-gap: 4px;
  --list-indent: 120px;
  counter-reset: item1;
}
ul.dropspotlist li::before {
  content: "\2022";
  color: #04de80;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
  height: 1.5em;
}
ul.dropspotlist li {
  margin-top: 22px;
}
ul.dropspotlist li li {
  list-style: none;
  margin-top: 10px;
}
/* -------------------------------------------------------- IMAGES */
img.center {
  display: block;
  margin-top: 5px;
  max-width: 70%;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  position: relative
}
img.icon {
  vertical-align: middle;
}
img.icon_small {
  vertical-align: middle;
  max-height: 24px;
}
iframe.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 400px;
  max-width: 800px;
  border-radius: 0.5em;
}
/* -------------------------------------------------------- DIVS */
div.banner {
  background-color: #000000;
  border-width: 3px;
  border-style: solid;
  border-color: #000000;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}
div.clear {
  clear: both;
  background: #444444;
  height: 1.5em;
  padding: 10px;
  border-radius: 0.5em 0.5em 0 0;
}
div.clear a {
  font-weight: normal;
}
div.dropspotnote {
  font-style: italic;
  margin-left: 85px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 16px;
}
/* -------------------------------------------------------- TABLES */
table {
  border: solid #026b3e 2px;
  border-collapse: separate;
  border-spacing: px;
  background: #333333;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
th {
  color: #efefef;
  background: #039e5c;
}
td {
  border-spacing: 2px;
  border: solid #333333 1px;
  padding-left: 10px;
  padding-right: 10px;
}
tr {
  border-spacing: 2px;
  border: solid #039e5c 1px;
  border-spacing: 2px;
  background: #555555;
}
table.icons {
  padding-left: 25px;
  border: 0px;
  cellspacing: 10px;
  cellmargin: 10px;
  border-collapse: separate;
  border-spacing: 10px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background: #282828;
  box-shadow: 0px 0px 0px #282828;
}
table.dnd {
  padding-left: 25px;
  border: 0px;
  cellspacing: 0px;
  cellmargin: 0px;
  border-collapse: separate;
  border-spacing: 20px;
  width: 50%;
  background: #282828;
  box-shadow: 0px 0px 0px #282828;
  float: left;
}
td.icons {
  background: #282828;
  width: 50px;
  border: 0px;
}
td.dnd_icons {
  background: #282828;
  border: 0px;
}
td.text {
  background: #282828;
  border: 0px;
}
td.dnd {
  background: #282828;
  border: 0px;
  width: 200px;
}
tr:nth-child(odd) {
  background: #4d4d4d;
  width: 80%;
}
table.dnd td:nth-child(odd) {
  content: "200px";
}
/* -------------------------------------------------------- EXTRAS */
.body-scroll {
  display: block;
  position: absolute;
  top: 70px;
  bottom: 72px;
  left: 0;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  overflow-y: auto;
}
.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 70px;
  left: 0;
}
.buttons {
  position: relative;
  width: 100%;
}
/* -------------------------------------------------------- MINI TOC */
a.minitoc-caption {
  text-decoration: none;
  color: initial;
  font-weight: bold;
  font-size: 12pt;
}
p.minitoc-caption {
  font-weight: bold;
  font-size: 12pt;
}
ol.minitoc-list {
  padding-left: 0;
  margin-left: 0;
  list-style: none;
}
ol.minitoc-list ol {
  list-style: none;
}
a.minitoc-list-item {}
p.seealso-caption {
  font-weight: bold;
  font-size: 12pt;
}
ol.seealso-list {
  padding-left: 0;
  margin-left: 0;
  list-style: none;
}
a.seealso-list-item {}
p.reltopics-caption {
  font-weight: bold;
  font-size: 12pt;
}
ol.reltopics-list {
  padding-left: 0;
  margin-left: 0;
  list-style: none;
}
a.reltopics-list-item {}
ul.Disc {
  list-style-type: disc;
}
ul.dropspotlist>li {
  --prefix-size: 40px;
  --prefix-fixed-size: false;
  --prefix-gap: 4px;
  --list-indent: 120px;
  position: relative;
}
ul.dropspotlist>li:before {
  counter-increment: item1;
  content: counter(item1, disc);
  text-align: right;
  position: absolute;
  left: calc(-1 * var(--prefix-size) - var(--prefix-gap));
  width: var(--prefix-size);
  overflow: hidden;
  margin-right: var(--prefix-gap);
}
ol.AlphaNumeric {
  list-style: decimal;
}
ol.AlphaNumeric>li>ol {
  list-style: lower-alpha;
}
ol.AlphaNumeric>li>ol>li>ol {
  list-style: lower-roman;
}
ol.AlphaNumeric>li>ol>li>ol>li>ol {
  --prefix-size: 40px;
  --prefix-fixed-size: false;
  --prefix-gap: 4px;
  --list-indent: 40px;
  counter-reset: item4;
  list-style: none;
  padding-left: var(--prefix-size);
  margin-left: calc(var(--list-indent) - var(--prefix-size));
}
ol.AlphaNumeric>li>ol>li>ol>li>ol>li {
  --prefix-size: 40px;
  --prefix-fixed-size: false;
  --prefix-gap: 4px;
  --list-indent: 40px;
  position: relative;
}
ol.AlphaNumeric>li>ol>li>ol>li>ol>li:before {
  counter-increment: item4;
  content: "("counter(item4, decimal)")";
  text-align: right;
  position: absolute;
  left: calc(-1 * var(--prefix-size) - var(--prefix-gap));
  margin-right: var(--prefix-gap);
  width: var(--prefix-size);
  overflow: hidden;
}
ol.AlphaNumeric>li>ol>li>ol>li>ol>li>ol {
  list-style: none;
  --prefix-size: 40px;
  --prefix-fixed-size: false;
  --prefix-gap: 4px;
  --list-indent: 40px;
  counter-reset: item5;
  padding-left: var(--prefix-size);
  margin-left: calc(var(--list-indent) - var(--prefix-size));
}
ol.AlphaNumeric>li>ol>li>ol>li>ol>li>ol>li:before {
  counter-increment: item5;
  content: "("counter(item5, lower-alpha)")";
  text-align: right;
  position: absolute;
  left: calc(-1 * var(--prefix-size) - var(--prefix-gap));
  margin-right: var(--prefix-gap);
  width: var(--prefix-size);
  overflow: hidden;
}
ol.AlphaNumeric>li>ol>li>ol>li>ol>li>ol>li {
  --prefix-size: 40px;
  --prefix-fixed-size: false;
  --prefix-gap: 4px;
  --list-indent: 40px;
  position: relative;
}
ol.AlphaNumeric>li>ol>li>ol>li>ol>li>ol>li>ol {
  list-style: none;
  --prefix-size: 40px;
  --prefix-fixed-size: false;
  --prefix-gap: 4px;
  --list-indent: 40px;
  counter-reset: item6;
  padding-left: var(--prefix-size);
  margin-left: calc(var(--list-indent) - var(--prefix-size));
}
ol.AlphaNumeric>li>ol>li>ol>li>ol>li>ol>li>ol>li:before {
  counter-increment: item6;
  content: "("counter(item6, lower-roman)")";
  text-align: right;
  position: absolute;
  left: calc(-1 * var(--prefix-size) - var(--prefix-gap));
  margin-right: var(--prefix-gap);
  width: var(--prefix-size);
  overflow: hidden;
}
ol.AlphaNumeric>li>ol>li>ol>li>ol>li>ol>li>ol>li {
  --prefix-size: 40px;
  --prefix-fixed-size: false;
  --prefix-gap: 4px;
  --list-indent: 40px;
  position: relative;
}
ol.RoundSquare {
  list-style: disc;
}
ol.RoundSquare>li>ol {
  list-style: square;
}
ol.RoundSquare>li>ol>li>ol {
  list-style: circle;
}
ol.RoundSquare>li>ol>li>ol>li>ol {
  list-style: disc;
}
ol.RoundSquare>li>ol>li>ol>li>ol>li>ol {
  list-style: square;
}
ol.RoundSquare>li>ol>li>ol>li>ol>li>ol>li>ol {
  list-style: circle;
}
ol.Decimal {
  list-style-type: decimal;
}
p {
  margin: 0;
  padding: 0.5em 1em;
  background: #282828;
  text-align: justify;
  text-justify: inter-word;
  font-family: 'open_sansregular';
  line-height: 1.5;
}