/*Created with Adobe RoboHelp 2019*/
/*TOC Styling*/
body.pdf-toc-body {}
h1.pdf-toc-title {
  color: #FFFFFF
}
p.pdf-toc {
  color: #FFFFFF
}
a.pdf-toc-link {
  color: #FFFFFF
}
a.pdf-toc-link:after {}
span.pdf-toc-page-no {}
p.pdf-toc-level1 {
  color: #FFFFFF
}
a.pdf-toc-link-level1 {
  color: #FFFFFF
}
span.pdf-toc-page-no-level1 {}
p.pdf-toc-level2 {
  color: #FFFFFF
}
a.pdf-toc-link-level2 {
  color: #FFFFFF
}
span.pdf-toc-page-no-level2 {}
p.pdf-toc-level3 {
  color: #FFFFFF
}
p.pdf-toc-level4 {
  color: #FFFFFF
}
p.pdf-toc-level5 {
  color: #FFFFFF
}
p.pdf-toc-level6 {
  color: #FFFFFF
}
/*Index Styling*/
body.pdf-idx-body {}
h1.pdf-idx-title {
  color: #FFFFFF
}
div.pdf-idx-unit {}
p.pdf-idx-keyword {
  color: #FFFFFF
}
div.pdf-idx-topics {}
p.pdf-idx-topic {
  color: #FFFFFF
}
a.pdf-idx-link {}
div.pdf-idx-child {}
/*Glossary Styling*/
body.pdf-glo-body {}
h1.pdf-glo-title {}
div.pdf-glo-unit {}
p.pdf-glo-term {}
p.pdf-glo-definition {}