/* COLOURS:

// Backgrounds
Dark Grey: #181818;
Mid Grey:	#282828;
Light Grey:	#444444;

// Text
Main Text:	#cfcfcf;

green text:	#039e5c; OLD*#029c80;*
hover text:	#04de80; OLD*#0ee8c0;*
Titles:		#efefef;
 
 */

/* -------------------------------------------------------- BODY */
body{
	background:#282828;
	color:#cfcfcf;
	font-size:14px;
	font-family:Verdana, Helvetica, Arial, sans-serif;
	margin: 8px 0 0 0;
}

/* -------------------------------------------------------- HEADERS */
h1 {
	margin:0;
	font-size: 1.5em;
	padding:0 0.8em;
	line-height:1.5em;
	background: #282828;
}

h1.studio {
	/*margin:0;
	font-size: 1.5em;
	padding:0 0.8em;
	line-height:2em;
	background: #33531C;
	border-radius:0.5em 0.5em 0 0;*/
	margin:0 0 0.5em 0;
	font-size: 1.5em;
	padding:0 0 0 0.5em;
	line-height:40px;
	font-weight:bold;
    background-image: url(Images/Header_Bar_Front.png), url(Images/Header_Bar_Back.gif);
    background-position: left, left;
    background-repeat: no-repeat, repeat;
	border-radius:0.5em 0.5em 0 0;
	color: #ffffff;
}


h2 {
	margin:0 0 0 0;
	font-size: 1.5em;
	padding:0 0 0 0.5em;
	line-height:40px;
	font-weight:bold;
    background-image: url(Images/Header_Bar_Front.png), url(Images/Header_Bar_Back.gif);
    background-position: left, left;
    background-repeat: no-repeat, repeat;
	border-radius:0.5em 0.5em 0 0;
	color: #ffffff;
}

h2.studio {
	background-image: none;
	padding:0.5em;
	line-height:2em;
	font-style: italic;
	margin-left: 20px;
	margin-right: auto;
	margin-bottom:20px;
	font-size:14px;
	color:#cfcfcf;
}


h3 {
	display: inline;
	margin-left: 20px;
	padding:0.25em 0.5em 0.5em;
	font-size:1em;
	font-weight: bold;
	background: #181818;
	background-height: 10px;
	border-radius:5px;
	border: 2px solid #282828;
}

h3.studio {
	display: inline-block;
	margin-left: 10px;
	padding:0.5em;
	padding-left: 1em;
	padding-right:1em;
	font-size:1em;
	font-weight: bold;
	background: #181818;
	border-radius:20px;
	border: 2px solid #282828;
}

h4 {
	margin:0;
	font-size: 1.2em;
	padding:0em 0.85em 0;
	line-height:1em;
	font-weight:bold;
	font-style:italic;
	background:#282828;
}

h4.studio {
	margin:0;
	font-size: 1.2em;
	padding:0em 0.85em 0;
	line-height:1em;
	font-weight:bold;
	font-style:italic;
	background:#242424;
}

h5 {
	margin:0;
	color: #181818;
	text-align:center;
	padding:0.5em;
	font-size:0.75em;
	font-weight:bold;
	background: #039e5c;
	border-radius:0 0 1em 1em;
}

h5.studio {
	/*margin:0;
	text-align:center;
	padding:0.25em;
	font-size:10px;
	font-weight:normal;
	background: #1C1C1C;*/
	margin:0;
	color: #181818;
	text-align:center;
	padding:0.5em;
	font-size:0.75em;
	font-weight:bold;
	background: #039e5c;
	border-radius:0 0 1em 1em;
}

/* -------------------------------------------------------- PARAGRAPHS */
p, ul, ol{
	margin:0;
	padding:0.5em 1em;
	background:#282828;
	text-align: justify;
    text-justify: inter-word;
}

center{
	background:#282828;
}

blockquote{
	background:#282828;
	margin:0;
	padding:1em 3em;
}

label{
	margin:0;
	font-size: 1.2em;
	font-weight: bold;
	padding:0.25em 0.25em 0.25em 0.5em;
	background:#444444;
	color:#cfcfcf;
	border-radius:0.5em;
}

label:hover{
	color:#ffffff;
	/*box-shadow: 5px 5px 5px #181818;*/
	background:#039e5c;
}


/* -------------------------------------------------------- TABLES */
table{
	border:0px;
	cellspacing:10px;
	cellmargin:0px;
	border-collapse:separate;
	border-spacing:0px;
	border-radius: 5px;
	border: solid #026b3e 2px;
	background:#333333;
	width:80%;
	margin-left: auto;
	margin-right: auto;
}

td{
	border-spacing:2px;
	border: solid #333333 1px;
	padding-left: 10px;
	padding-right: 10px;
}

tr{
	border-spacing:2px;
	border: solid #039e5c 1px;
	border-spacing:2px;
	background:#555555;
}

table.compat{
	table-layout: fixed;
	text-align:center;
}

table.icons{
	padding-left: 25px;
	border: 0px;
	cellspacing: 10px;
	cellmargin: 10px;
	border-collapse: separate;
	border-spacing: 10px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	background:#282828;
	box-shadow: 0px 0px 0px #282828;
}

th{
	color: #efefef;
	background:#039e5c; /*141414;*/
}

td.param{
	width:20%;
}

tr.alt{
	background:#4d4d4d;
}

td.compat{
	background:#555555;
}

td.icons{
	background:#282828;
	width:50px;
	border:0px;
}

td.text{
	background:#282828;
	border:0px;
}

tr:nth-child(odd) {
 	background:#4d4d4d;
    width:70%;
}


/* -------------------------------------------------------- DIVS */
span.list_link{
	color:#cfcfcf;
}

span.list_link:hover{
	color:#ffffff;
}

div.param{
	padding: 30px;
 	background-color:#282828;
	border-color:ffffff;
	border-width:4px 4px 4px 4px;
	box-shadow: 5px 5px 5px #111;
}

div.compat{
	padding-left:20%;
	padding-right:20%;
	padding-top:10px;
	border-color:ffffff;
	border-width:4px 4px 4px 4px;
}

div.index_list{
	padding: 1em 1em 2em 1em;
}

div.title{
	margin:0;
	padding:0.5em;
	font-size:1em;
	font-weight: bold;
	background: #181818;
	background-size: 200px;
	border-radius:0.5em 0.5em 0 0;
}

div.note{
	font-style: italic;
	margin-left: 40px;
	margin-right: auto;
	font-size:12px;
}

/* Justify page links*/
div.clear{
	clear:both;
	background:#444444;
	height:1.5em;
	padding:10px;
	border-radius:0.5em 0.5em 0 0;
}

div.clear a{
	font-weight: normal;
}

/* -------------------------------------------------------- IMAGES */
img.center{
	display:block;
    max-width: 100%;
    max-height: 100%;
	width: auto;
	margin-left:auto;
	margin-right:auto;
}

img.icon{
	align:middle;
}
/* -------------------------------------------------------- LISTS */
ul{
	padding:0 1em 1em 2em;
}

ul li{
	list-style:disc inside;
}

ul ul li{
	list-style-type: circle;
}

ol {
	list-style-type:square;
	list-style-image:url(Images/Main_List_Icon.png);
	line-height:1.5em;
}

ol.ext{
	list-style-type: none;
}

/* -------------------------------------------------------- LINKS */
a{
	text-decoration:none;
}

a:link, a:visited{
	font-weight: bold;
	color:#04de80;
}

a:hover, a:active{
	color:#ffffff;
	}

/* -------------------------------------------------------- EXTRAS */
.code{
	font-family:monospace;
	background:#181818;
	color:#cfcfcf;
	padding:20px 20px 20px 20px;
	margin-left:50px;
	margin-right:50px;
	text-justify: none;
	text-align: left;
	border-radius: 10px;
	}

.label{
	font-family:Verdana, Helvetica, Arial, sans-serif;
	}

.collapse{
	display:block;
	background-colour:#282828;
	background-image:url(Images/Pointer_Closed.png);
	background-repeat: no-repeat;
	background-position:10px center;
	padding-left:35px;
}

.collapse:hover{
	background-image:url(Images/Pointer_Open.png);
	/*text-decoration: underline;*/
}

.collapse + input{
	display:none;
}

.collapse + input + *{
	display:none;
}

.collapse + input:checked + *{
	display:block;
}

iframe{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width:100%;
	height:400px;
	max-width: 800px;
	border-radius:0.5em;
	}
	
/* -------------------------------------------------------- BODY HEADER AND FOOTER */
	
.body-scroll{
	  display: block;
	  position: absolute;
	  top: 70px;
	  bottom: 72px;
	  left: 0;
	  width:100%;
	  margin-left:auto;
	  margin-right:auto;
	  overflow-y:auto;
	}
	
.footer{
	  position:absolute;
	  bottom:0;
	  width:100%;
	  height: 70px;
	  left:0;
	}
	
.buttons{
	  position:relative;
	  width:100%;
	}

/* -------------------------------------------------------- SCROLLBARS */

::-webkit-scrollbar {
	width: 14px;
	height: 14px;
	-webkit-border-radius: 12px;
	border-radius: 12px;
	background-color: #282828;
}

::-webkit-scrollbar-track {
    background-color: #282828;
	border-style: solid;
	border-width: 4px;
	border-color: #000000;
}
 
::-webkit-scrollbar-thumb {
    background-color: #444444;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border-style: solid;
	border-width: 2px;
	border-color: #000000;
}

 ::-webkit-scrollbar-thumb:active {
    background-color: #039e5c;
}
 
::-webkit-scrollbar-button {
      background-color: #808080;
}

::-webkit-scrollbar-button:start:decrement:vertical {
	background-color: #000000;
	background-image: url(Images/Scrollbar_Buttons.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	height: 14px;
	width: 14px;
	display: block;
}

::-webkit-scrollbar-button:start:decrement:vertical:active {
	background-position: -14px 0px;
}

::-webkit-scrollbar-button:end:increment:vertical  {
	background-color: #000000;
	background-image: url(Images/Scrollbar_Buttons.png);
	background-repeat: no-repeat;
	background-position: 0px -14px;
	height: 14px;
	width: 14px;
	display: block;
}
 
::-webkit-scrollbar-button:end:increment:vertical:active {
	background-position: -14px -14px;
}

::-webkit-scrollbar-button:start:decrement:horizontal {
	background-color: #000000;
	background-image: url(Images/Scrollbar_Buttons.png);
	background-repeat: no-repeat;
	background-position: -28px 0px;
	height: 14px;
	width: 14px;
	display: block;
}

::-webkit-scrollbar-button:start:decrement:horizontal:active {
	background-position: -28px -14px;
}

::-webkit-scrollbar-button:end:increment:horizontal  {
	background-color: #000000;
	background-image: url(Images/Scrollbar_Buttons.png);
	background-repeat: no-repeat;
	background-position: -42px -0px;
	height: 14px;
	width: 14px;
	display: block;
}
 
::-webkit-scrollbar-button:end:increment:horizontal:active {
	background-position: -42px -14px;
}

::-webkit-scrollbar-corner {
      background-color: #282828;
}
