
    .topic-header { background-color: #000000; color: #dddddd; width: calc(100%); height: 3em; position: fixed; left: 0; top: 0; font-family: 'Segoe UI'; display: table; box-sizing: border-box; }
.topic-header .logo { height: calc(100% - 0.5rem); margin: 0.25rem; width: 70px; background-color: transparent; cursor: pointer; background-image: url('favicon.png'); background-repeat: no-repeat; background-position: center center; background-size: contain; }
.nav { width: 100%; display: table-cell; }
.title { width: 40%; height: 100%; float: left; line-height: 3em; cursor: pointer; }
.gotohome { width: 60%; float: left; text-align: right; height: 100%; line-height: 3em; cursor: pointer; }
.title span, .gotohome span { padding: 0em 1em; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; display: block; }
.rh-topicheader-hide{display: none;}
