/* This stylesheet is applied to the entire manual, not just the content pages */

.gmtab {
    color: #444444;
}
.gmtab.active {
   color: #222222;
}
.gmtab .left {
    background: url("Images/Light_Skin/workspace_tab_in_left.png");
    background-size: 100% 100%;
}
.gmtab .middle {
   background: url("Images/Light_Skin/workspace_tab_in.png");
   background-size: 100% 100%;
}
.gmtab .right {
   background: url("Images/Light_Skin/workspace_tab_in_right.png");
   background-size: 100% 100%;
}
.gmtab.active .left {
   background: url("Images/Light_Skin/workspace_tab_left.png");
   background-size: 100% 100%;
}
.gmtab.active .middle {
   background: url("Images/Light_Skin/workspace_tab.png");
   background-size: 100% 100%;
}
.gmtab.active .right { 
   background: url("Images/Light_Skin/workspace_tab_right.png");
   background-size: 100% 100%;
}